<script setup>
import LogoColdwire from '@/component/LogoColdwire.vue'
import AppDesktopSidebar from '@/component/AppDesktopSidebar.vue'
import AppNotification from '@/component/AppNotification.vue'
import FileContextMenu from '@/component/FileContextMenu.vue'
import { RouterView } from 'vue-router'
const printRename = (event, _id) => {
  console.log('handle file rename emit !!!, id : ' + _id)
}
defineExpose({
  printRename
})
</script>

<template>
  <div class="v-app">
    <LogoColdwire />
    <app-desktop-sidebar />
    <main id="app-main">
      <router-view />
      <AppNotification />
      <FileContextMenu @handle-rename="printRename" />
    </main>
  </div>
</template>

<style lang="scss" scoped>
  .v-app {
    width: 100%;
    height: 100%;
    display: flex;
    main {
      position: relative;
      flex-grow: 1;
      background-color: $complementary-gray-2;
    }
  }
</style>
