.button-base {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 2rem;
  border-radius: 8px;
  background-color: $complementary-white-25;
  padding: 0 8px;
  border: none;
  color: $complementary-white;
}


.button-primary {
  background-color: $primary-blue;
  color: $complementary-white;
}

.button-success {
  background-color: $primary-green;
  color: $complementary-white;
}

.button-warning {
  background-color: $secondary-yellow;
  color: $complementary-white;
}

.button-category {
  background-color: transparent;
  color: $complementary-white;

  &:hover {
    background-color: $complementary-white-5;
  }
}
