.context-menu-base {
  display: flex;
  flex-direction: column;
  background-color: $complementary-gray-3;
  border: 1px solid $complementary-white-5;
  border-radius: 8px;
  padding: 8px 0;
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.20);
  width: 148px;
  &__action {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 8px;
    width: 100%;
    height: 2rem;
    cursor: pointer;
    &:hover {
      background-color: $complementary-white-5;
    }
    & > span {
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;
      padding: 0 8px;
      gap: 6px;
      color: $complementary-white;
      svg {
        color: $complementary-white-25;
      }
    }
    &--separation {
      border-bottom: 1px solid $complementary-white-5;
    }
  }
}
