/**
  List of class that describe disposition of CSS element
 */

%max-fill {
  width: 100%;
  height: 100%;
}

%fx-row {
  display: flex;
  flex-direction: row;
}

%fx-column {
  display: flex;
  flex-direction: column;
}

%fx-center-x {
  justify-content: center;
}

%fx-center-y {
  align-items: center;
}

%fx-center {
  justify-content: center;
  align-items: center;
}
