/**
  List of class to styling a notification card
 */

.notification-base {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  height: 38px;
  width: 100%;
  border-radius: 6px;
  background-color: $complementary-gray-3;
  color: $complementary-white-50;
  overflow: hidden;
  cursor: pointer;

  svg {
    display: block;
    margin: 0;
  }

  &__left-content {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__icon-info {
    color: $complementary-white-50;
  }

  &__icon-success {
    color: $secondary-green;
  }

  &__icon-warning {
    color: $secondary-yellow;
  }

  &__icon-close {
    color: $complementary-white-50;
  }
}

.notification-indeterminate {
  &__loading {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: $secondary-blue;
  }

  &__loading-fill {
    width: 100%;
    height: 100%;
    background-color: #1a5b7a;
    animation: notification-indeterminate-anim 1s infinite linear;
    transform-origin: 0% 50%;
  }
}

@keyframes notification-indeterminate-anim {
  0% {
    transform:  translateX(0) scaleX(0);
  }
  40% {
    transform:  translateX(0) scaleX(0.4);
  }
  100% {
    transform:  translateX(100%) scaleX(0.5);
  }
}
