<script setup>
import LogoColdwire from '@/component/LogoColdwire.vue'
import { RouterView } from 'vue-router'
</script>

<template>
  <div class="v-auth">
    <LogoColdwire />
    <RouterView />
    <div class="v-auth__bottom">
      <p class="button-base">
        Artwork by Lorem Ipsum
      </p>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .v-auth {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("@/asset/img/auth-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__bottom {
      position: absolute;
      left: 2rem;
      bottom: 2rem  ;
      display: flex;
    }
  }
</style>
