<script setup>
import LayoutAuthModal from '@/layout/LayoutAuthModal.vue'
import { useRouter } from 'vue-router'

const router = useRouter()

const goToAuthRegister = () => {
  router.push({name: 'auth.register'})
}
</script>

<template>
  <LayoutAuthModal>
    <template #title>
      <h2>Login</h2>
    </template>
    <template #description>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem dignissimos expedita illum nisi pariatur totam, voluptate.</p>
    </template>
    <template #actions>
      <input class="button-base" type="text" placeholder="Username">
      <input class="button-base" type="password" placeholder="Password">
      <button class="button-base button-primary">Login</button>
      <p @click="goToAuthRegister()">You don't have an account yet? Create one!</p>
    </template>
  </LayoutAuthModal>
</template>
