<script setup>
import ButtonRounded from '@/component/ButtonRounded.vue'
import { reactive } from 'vue'
import { Icon } from '@iconify/vue'

const notificationFixtures = reactive([
  {
    id: 0,
    title: 'Notification d\'envoie de fichier',
    isClosable: true,
    isLoadIndeterminate: true,
    level: 'info'
  },
  {
    id: 1,
    title: 'Notification d\'authentification',
    isClosable: true,
    isLoadIndeterminate: false,
    level: 'warning'
  },
  {
    id: 2,
    title: 'Notification de mise à jour',
    isClosable: true,
    isLoadIndeterminate: false,
    level: 'success'
  },
  {
    id: 3,
    title: 'Notification de chargement',
    isClosable: false,
    isLoadIndeterminate: true,
    level: 'info'
  }
])

const closeNotification = (_id) => {
  notificationFixtures.splice(notificationFixtures.findIndex(obj => obj.id === _id), 1)
}

defineExpose({
  notificationFixtures,
  closeNotification
})
</script>

<template>
  <ul class="notification-list">
    <li class="notification-base notification-indeterminate" v-for="notification in notificationFixtures" :key="notification.id">
      <div class="notification-base__left-content">
        <Icon v-if="notification.level === 'info'" class="notification-base__icon-info" icon="mdi:information-outline" width="22px" height="22px" />
        <Icon v-else-if="notification.level === 'success'" class="notification-base__icon-success" icon="mdi:check-circle-outline" width="22px" height="22px" />
        <Icon v-else-if="notification.level === 'warning'" class="notification-base__icon-warning" icon="mdi:alert-circle-outline" width="22px" height="22px" />
        <p>{{ notification.title }}</p>
      </div>
      <ButtonRounded v-if="notification.isClosable" @click="closeNotification(notification.id)">
        <Icon class="notification-base__icon-close" icon="mdi:close" width="16px" height="16px" />
      </ButtonRounded>
      <div v-if="notification.isLoadIndeterminate" class="notification-indeterminate__loading">
        <div class="notification-indeterminate__loading-fill"></div>
      </div>
    </li>
  </ul>
</template>

<style lang="scss" scoped>
  .notification-list {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
    bottom: 1rem;
    right: 1rem;
    width: clamp(10rem, 20rem, 24rem);
    padding: 0;
    margin: 0;
  }
</style>
