<script setup>
import BaseOverlay from '@/component/BaseOverlay.vue'
import { Icon } from '@iconify/vue'
import { ref } from 'vue'

defineProps({
  title: {
    type: String,
    required: false,
    default: 'Unknown Title'
  },
  isClosable: {
    type: Boolean,
    required: false,
    default: true
  },
  isHeader: {
    type: Boolean,
    required: true,
    default: true
  }
})

const isActualModalIsClosed = ref(false)

defineExpose({
  isActualModalIsClosed
})
</script>

<template>
  <BaseOverlay v-if="!isActualModalIsClosed">
    <div id="file-modal" class="file-modal">
      <div v-if="isClosable" class="file-modal__close" @click="isActualModalIsClosed = true">
        <Icon icon="mdi:close" width="24px" height="24px" />
      </div>
      <div v-if="isHeader" class="file-modal__header">
        <h4 class="file-modal__title">
          {{ title }}
        </h4>
      </div>
<!--      <slot name="header">-->
<!--        <div class="file-modal__header">-->
<!--          <h4 class="file-modal__title">-->
<!--            {{ title }}-->
<!--          </h4>-->
<!--        </div>-->
<!--      </slot>-->
      <slot name="content"/>
    </div>
  </BaseOverlay>
</template>

<style lang="scss" scoped>
  .file-modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    //height: 250px;
    height: 155px;
    background-color: $complementary-gray-3;
    border-radius: 8px;
    border: 1px solid $complementary-white-5;
    padding: 10px;
    display: flex;
    flex-direction: column;
    &__header {
      display: block;
      margin: 0 auto;
      padding-right: 10px;
      padding-bottom: 1.5rem;
    }
    &__close {
      position: absolute;
      top: 22px;
      left: 22px;
      transform: translate(-50%, -50%);
      padding: 4px;
      border-radius: 50%;
      &:hover {
        background-color: $complementary-white-5;
      }
      svg {
        color: $complementary-white-50;
        display: block;
      }
    }
    &__title {
      color: $complementary-white;
      font-size: 14px;
    }
  }

  @media all and (max-width: 800px) {
    .file-modal {
      width: 100%;
      height: 100%;
    }
  }
</style>
