<script setup>
</script>

<template>
  <div class="base-card">
    <div class="base-card__head">
      <slot name="title" />
    </div>
    <div class="base-card__content">
      <slot name="content" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .base-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;
    background-color: #244e3c;
    padding: 1rem;
    gap: 2rem;

    &__head {
      display: flex;
      justify-content: space-between;
      color: $complementary-white;
      font-size: 14px;
    }
    &__content {
      display: flex;
      flex-direction: column;
    }
  }
</style>
