<script setup>
import { RouterLink } from 'vue-router';
defineProps({
  link: {
    type: String,
    required: false,
    default: '#'
  }
})
</script>

<template>
  <RouterLink :to="link" class="button-base button-category">
    <slot />
  </RouterLink>
</template>
