<script setup>
</script>

<template>
  <button class="button-rounded">
    <slot />
  </button>
</template>

<style lang="scss" scoped>
  .button-rounded {
    position: relative;
    border-radius: 50%;
    padding: 5px;
    background-color: transparent;
    border: none;

    &__icon {
      display: block;
      margin: 0;
      color: $complementary-white-25;
    }

    &:hover {
      background-color: $complementary-white-5;
    }
  }
</style>
