<script setup>
import { Icon } from '@iconify/vue'
import { useRoute } from 'vue-router'
import { computed } from 'vue'
import { useBlocStore } from '@/store/bloc'

const blocStore = useBlocStore()

const categoryTitle = computed(() => {
  const routePath = useRoute().path
  if (routePath.includes('file')) {
    return 'My Files'
  } else if (routePath.includes('starred')) {
    return 'Starred'
  } else if (routePath.includes('shared')) {
    return 'Shared with me'
  } else {
    return 'Unknow category'
  }
})

defineExpose({
  categoryTitle
})
</script>

<template>
  <div class="category-top-bar">
    <div class="category-top-bar__left-content">
      <h4>{{ categoryTitle }}</h4>
    </div>
    <div class="category-top-bar__right-content">
      <a href="#" class="button-base" @click="blocStore.fillFixtures()">
        <Icon icon="mdi:content-save-cog-outline" width="16px" height="16px" />
      </a>
      <a href="#" class="category-top-bar__button-upload button-base button-primary">
        <h5>Transfer</h5>
        <Icon icon="mdi:upload-outline" width="16px" height="16px" />
      </a>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .category-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 64px;
    height: 64px;
    color: $complementary-white;

    &__left-content {
      font-size: 14px;
    }

    &__right-content {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
</style>
