<script setup></script>

<template>
  <div class="file-explore">
    <table>
      <thead>
          <tr>
              <th>Name</th>
              <th>Size</th>
              <th>Last modification</th>
              <th>Shared with</th>
          </tr>
      </thead>
      <tbody>
        <tr>
            <td>Wikileaks Case</td>
            <td>Maria Anders</td>
            <td>Germany</td>
            <td>Moi</td>
        </tr>
        <tr>
            <td>Wikileaks Case</td>
            <td>Maria Anders</td>
            <td>Germany</td>
            <td>Moi</td>
        </tr>
        <tr>
            <td>Wikileaks Case</td>
            <td>Maria Anders</td>
            <td>Germany</td>
            <td>Moi</td>
        </tr>
        <tr>
            <td>Wikileaks Case</td>
            <td>Maria Anders</td>
            <td>Germany</td>
            <td>Moi</td>
        </tr>
        <tr>
            <td>Wikileaks Case</td>
            <td>Maria Anders</td>
            <td>Germany</td>
            <td>Moi</td>
        </tr>
        <tr>
            <td>Wikileaks Case</td>
            <td>Maria Anders</td>
            <td>Germany</td>
            <td>Moi</td>
        </tr>
        <tr>
            <td>Wikileaks Case</td>
            <td>Maria Anders</td>
            <td>Germany</td>
            <td>Moi</td>
        </tr>
        <tr>
            <td>Wikileaks Case</td>
            <td>Maria Anders</td>
            <td>Germany</td>
            <td>Moi</td>
        </tr>
        <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
          <tr>
              <td>Wikileaks Case</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Moi</td>
          </tr>
      </tbody>
    </table>
  </div>
</template>

<style lang="scss" scoped>
  .file-explorer {
    flex-grow: 1;
    overflow-y: scroll;
    margin-bottom: 2rem;

    table {
      width: 100%;
      position: relative;

      thead {
        position: sticky;
        top: 0;
        background-color: purple;
      }

      tr {
        height: 54px;
        &:hover {
          $background-color: $complementary-white-5;
        }
      }
    }
  }
</style>
