<script setup>
import { Icon } from '@iconify/vue'
import { ref, onMounted } from 'vue'

const fileContextMenu = ref(null)

onMounted(() => {
  document.addEventListener('click', (event) => {
    const isClickInside = fileContextMenu.value.contains(event.target)
    if (!isClickInside) {
      fileContextMenu.value.classList.remove('visible')
    }
  })
})

const emit = defineEmits([
  'handle-rename',
  'handle-moving',
  'handle-favorite',
  'handle-share',
  'handle-download',
  'handle-delete'
])

const closeMenuBeforeEmit = (event, emitName) => {
  console.log('prefetch close menu...')
  // fileContextMenu.value.classList.remove('visible')
  // console.dir(event)
  // emit(emitName, event, '84521248512')
}
defineExpose({
  closeMenuBeforeEmit
})
</script>

<template>
  <ul ref="fileContextMenu" id="file-context-menu" class="context-menu-base">
    <li class="context-menu-base__action" @click="closeMenuBeforeEmit($event, 'handle-rename')">
      <span>
        <Icon icon="mdi:form-textbox" width="16px" height="16px" />
        Rename
      </span>
      <div class="action-rename context-menu-base">
        <input type="text" placeholder="Rename" class="rename-input">
      </div>
    </li>
    <li class="context-menu-base__action">
      <span>
        <Icon icon="mdi:arrow-right-top" width="16px" height="16px" />
        Move to
      </span>
    </li>
    <li class="context-menu-base__action">
      <span class="context-menu-base__action--separation">
        <Icon icon="mdi:star-outline" width="16px" height="16px" />
        Star
      </span>
    </li>
    <li class="context-menu-base__action">
      <span>
        <Icon icon="mdi:account-multiple-outline" width="16px" height="16px" />
        Share
      </span>
    </li>
    <li class="context-menu-base__action">
      <span class="context-menu-base__action--separation">
        <Icon icon="mdi:download-outline" width="16px" height="16px" />
        Download
      </span>
    </li>
    <li class="context-menu-base__action">
      <span>
        <Icon icon="mdi:trash-outline" width="16px" height="16px" />
        Delete
      </span>
    </li>
  </ul>
</template>

<style lang="scss">
  #file-context-menu {
    position: fixed;
    z-index: 2000;
    display: none;
    &.visible {
      display: flex;
    }
  }

  .context-menu-base__action {
    &:hover > .action-rename {
      display: flex;
    }
  }

  .action-rename.context-menu-base {
    position: absolute;
    top: -9px;
    left: calc(100% + 1px);
    display: none;
    padding: 8px;
    > .rename-input {
      background-color: $complementary-gray-1;
      border: 1px solid $complementary-white-25;
      outline: none;
      border-radius: 8px;
      height: 2rem;
      color: $complementary-white;
      padding-left: 13px;
      ::placeholder {
        color: $complementary-white-25;
      }
    }
  }
</style>
