<script setup>
import FileIcon from '@/component/FileIcon.vue'
import { formatBytes, dateToLapsedTime } from '@/helper/file-util'

defineProps({
  properties: {
    type: Object
  }
})

const fileContextMenuShow = (event) => {
  event.preventDefault()
  const fileContextMenu = document.getElementById('file-context-menu')
  fileContextMenu.style.top = `${event.clientY}px`
  fileContextMenu.style.left = `${event.clientX}px`
  fileContextMenu.classList.toggle('visible')
}

defineExpose({
  fileContextMenuShow
})
</script>

<template>
  <tr class="file-row" @contextmenu="fileContextMenuShow" :data-bloc-id="properties.id">
    <td>
      <div class="cell-content">
        <FileIcon :type="properties.is_directory ? 'directory' : properties.type" />
        <p>{{ properties.name }}</p>
      </div>
    </td>
    <td>{{ properties.size === undefined || properties.size === null ? '---' : formatBytes(properties.size) }}</td>
    <td>{{ properties.edited_on === undefined || properties.edited_on === null ? '---' : dateToLapsedTime(properties.edited_on) }}</td>
    <td>{{ properties.shareds ?? '---' }}</td>
  </tr>
</template>

<style lang="scss" scoped>
  .file-row {
    color: $complementary-white;
    height: 54px;
    &:hover {
      background-color: $complementary-white-5;
    }
    td {
      padding: 0 4px;
      .cell-content {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        height: 100%;
      }
    }
  }
</style>
