<!-- TODO: Review LogoColdwire.vue component for responsive Sidebar (remove absolute position i think) -->

<script setup></script>

<template>
  <img class="logo-coldwire" src="@/asset/img/logo-coldwire.svg" alt="Coldwire Organization">
</template>

<style lang="scss" scoped>
  .logo-coldwire {
    position: absolute;
    top: 24px;
    left: 2rem;
  }
</style>
