<script setup>
import { RouterView } from 'vue-router'
</script>

<template>
  <RouterView />
</template>

<style lang="scss">
  #app {
    width: 100vw;
    height: 100vh;
  }
  #init-scss {}
</style>
