<script setup>
import CategoryTopBar from '@/component/CategoryTopBar.vue'
import { RouterView } from 'vue-router'
</script>

<template>
  <div class="v-app-category">
    <category-top-bar />
    <router-view />
  </div>
</template>

<style lang="scss" scoped>
  .v-app-category {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0rem 2rem 1rem 2rem;
    // flex-grow: 1;
    height: 100%;
  }
</style>
